
.category{
    padding: 50px 0;
}
.cards{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
}
.card{
    width: 180px;
    margin: 0 10px 10px ;

}
.card_img{
    width: 100%;
    margin: 30px 0 10px 0;
}
.cards_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards_btn button{
    font-size: 20px;
    font-weight: 600;
    padding: 7px 20px;
    background: none;
    border-radius: 20px;
    border: 1px solid;
}
.cards_btn button:hover{
    background: red;
    cursor: pointer;
}
/* ========================================== SLIDER VIDEOS =================================================================*/

.video{
    text-align: center;
}
.video_item h1{
    margin: 0 0 20px 0;
}
.video_item{
    width: 200px;
}
.video_video{
    margin: 0 0 40px 0;
}


/* ========================================== ADAPTIVE =================================================================*/

@media screen and (max-width: 520px) {
    .card{
        width: 150px;
    }

}

@media screen and (max-width: 460px) {
    .card{
        width: 110px;
    }
    .card_img{
        width: 120%;
        margin: 10px 0 5px 0;
    }
}