@import url('https://fonts.cdnfonts.com/css/anurati');

#home{
    padding: 30px 0;
}


.home{
    background-image: url("https://www.themoviedb.org/assets/2/v4/marketing/deadpool-06f2a06d7a418ec887300397b6861383bf1e3b72f604ddd5f75bce170e81dce9.png"),
     url('https://www.themoviedb.org/assets/2/v4/marketing/red_pipes-594140f35efb300741add9827cc4f41053b0a4bb7ba249a40375377cc9d22d47.svg');
    background-repeat: no-repeat;

}
.home_title{
    font-family: 'anurati', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 900;
}
.logo{
    color: aqua;
}
.logo span{
    color: red;
    border-radius: 20px;
    
}
.home_text{
    padding: 150px 10%;
}
.home_text p{
    font-size: 30px;
    color: white;
    font-weight: 600;
    font-family: 'anurati', sans-serif;
}
.content_gen{
    padding: 40px 30px;
    margin: 50px 0;
    position: relative;
}
.cinema_gen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card{
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    text-align: center;
}
.content_title{
    color: aqua;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.home_link{
    font-style: italic;
    font-size: 20px;
    position: absolute;
    right: 20px;
}