#header{
    background: rgb(0, 0, 0);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}

.header_left{
    display: flex;
    align-items: center;
}
.header_logo{
    margin: 0 30px 0 0 ;
}
.logo_link{
    text-decoration: none;
}
.header_logo span{
    color: red;
}
.menu_item{
    text-decoration: none;
    font-size: 20px;
    margin: 0 5px;
    font-weight: 600;
    transition: .5s;
    color: wheat;
}
.header_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.set-bg{
    position: absolute;
    z-index: 21;
    right: 10px;
    top: 90px;
    width: 65px;
    height: 38px;
    border-radius: 40px;
    padding: 2px;
    background: #000;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .4s;
    cursor: pointer;
}

.set-bg div{
    width: 33px;
    height: 33px;
    background: wheat;
    border-radius: 50%;
}
.active{
    transform: scale(1.2);
    border-bottom: 4px solid rgb(255, 136, 0);
    color: rgb(255, 136, 0);
}


/* -----------------------------------BURGER--------------------------------------------------------------------------- */

.audio_container{
    position: relative;
}
.audio{
    border-radius: 30px;
    background: rgb(194, 55, 0);
    background: rgb(0, 186, 0);
    height: 35px;
}
audio::-webkit-media-controls-panel {
        background: rgb(194, 55, 0);
        background: rgb(0, 186, 0);
}
.audio::-webkit-media-controls-volume-slider
{
    background: rgb(194, 55, 0);
    background: rgb(0, 186, 0);
}



.header_burger_menu{
    display: none;
}
.burger_item{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 20;
    background: #000;
    padding: 70px 20px 20px; 
    top: 70px;
    align-items: flex-start;
    transition: 1s;
    /* box-shadow: -10px 20px 50px 1px gray; */
}



.b_menu_item{
    transition: .4s;
    margin: 10px;
    color: wheat;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    padding: 0 5px;
}
.menu_burger{
    cursor: pointer;
    position: relative;
    left: 0px;

}
.menu_burger div{
    width: 35px;
    height: 3px;
    margin: 5px 0;
    transition: 1s;
    background: wheat;
}

.burger_first{
    transform: rotate(410deg);
    position: absolute;
    transform-origin: center;
    top: -5px;
}
.burger_middle{
opacity: 0;
}
.burger_last{
    transform: rotate(-410deg);
    position: absolute;
    transform-origin: center;
    top: -5px;
}



/* -----------------------------------MEDIA--------------------------------------------------------------------------- */



@media  screen and (max-width: 735px) {

    .menu_item{
        font-size: 18px;
    }
    .header_logo{
        font-size: 24px;
    }
}

@media  screen and (max-width: 675px) {

    .menu_item{
        font-size: 16px;
    }
    .header_logo{
        font-size: 20px;
    }

}
@media  screen and (max-width: 515px) {
    .header_menu{
        display: none;
    }
    .header_logo{
        font-size: 30px;
    }
    .header_burger_menu{
        display: block;
    }

}
