@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  min-height: 100vh ;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
}



/* ========================================== SEARCH =================================================================*/


.home_search{
  display: flex;
  justify-content: center ;
  margin: 45px 0 0;
}
.search_input{
  background: none;
  border: 1px solid wheat;
  color: white;
  padding: 5px 10px;
  border-radius: 10px 0 0 10px;
  font-size: 20px;
  font-weight: 400;
  border-right: none;
  width: 60%;
  min-width: 250px;
  height: 47px;
  outline: none;

}
.search_input:focus{
    background: #000;
}
.search_btn{
  padding: 5px 10px ;
  font-size: 17px;
  font-weight: 600;
  border-radius: 0 10px 10px 0;
  border: 1px solid wheat;
  background: none;
  color: white;
  transition: .3s;
}
.search_btn:hover{
  background: #000;
  cursor: pointer;
}

@media screen and (max-width: 811px) {

  .search_input{
    height: 35px;
  }
}

@media screen  and (max-width:355px){
  .search_btn{
    font-weight: 200;
    font-size: 13px;
    padding: 3px 7px;
  }
  .search_input{
    font-weight: 300;
    font-size: 15px;
    padding: 3px 7px;
    height: 30px;
    min-width: 150px;
  }
}